[submodule "Bokeh/LCBokeh"]
	path = Bokeh/LCBokeh
	url = https://github.com/ageller/LCBokeh
[submodule "Glue/GlueNEO"]
	path = Glue/GlueNEO
	url = https://github.com/ageller/GlueNEO.git
[submodule "Unity/UnityNbodyCluster"]
	path = Unity/UnityNbodyCluster
	url = https://github.com/ageller/UnityNbodyCluster
[submodule "Unity/UnityGaiaHDRStarClusters"]
	path = Unity/UnityGaiaHDRStarClusters
	url = https://github.com/ageller/UnityGaiaHDRStarClusters
[submodule "IntroToDataViz/IntroToDataVis"]
	path = IntroToDataViz/IntroToDataVis
	url = https://github.com/ageller/IntroToDataVis
