body {
	font: 16px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot {
	stroke: #000;
}
.label{
	fill:black;
	font: 16px sans-serif;
}
.tick{
	font: 16px sans-serif;
}
.hidden {
	display:none;
}
