


/*Title*/
h1 {
  font: 25px sans-serif;
  text-align: center;
}


/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 60px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        
/* Legend Font Style */
body {
	font: 12px sans-serif;
  left:100px;
}

/*instructions*/
h2 {
  font: 14px sans-serif ;
  font-style: italic;
  color: grey; 
}

/*day/date*/
h3 {
  font: 15px sans-serif;
  font-weight: bold;
  float: left;
}

h4 {
  font: 15px sans-serif;
  float:left;
  left:1500px;

}

h5 {
  font: 12px sans-serif;
  left:1500px;

}

/* Legend Position Style */
.legend {
	position:absolute;
	left: 1050px;
	top:350px;
}
/*Slider*/
.slider {
  -webkit-appearance: none;
  width: 800px;
  margin: 10px;
  height: 25px;
  border-radius: 10px;
  background: #ffdfbf;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #98fb98;
  cursor: pointer;
}